<template name="home">
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="jumbotron vertical-center"><h1 class="text-center"><strong>Find Me!</strong></h1></div>
		</div>

	</div>
	<div class="col-md-12 " style="display:inline;">
		<div class="row text-center form-inline">
	   		<div class="form-group">
                <label for="need">I need</label>
                <input name="need" placeholder="what" id="searchBox" />
                <label for="distance">within</label>
                <span>
                <select class="form-control" id="distance" style="display:inline;">
					 
					    <option value="5">5 Km</option>
					    <option value="10">10 Km</option>
					    <option value="15">15 Km</option>
					  
					</select> Radius</span>
 which is  <span>
                <select class="form-control" id="type" style="display:inline;">
					 
					    <option value="0">Avaibale for Free</option>
					    <option value="1">Available for Sharing</option>
					    <option value="2">Available at a Price</option>
					  
					</select></span>
				
         
             
        </div>
    </div> 
   </div>
   </div>



</template>